.event .title {
  font-size: 18px;
}

.event-place {
  margin: 0;
  color: #000;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
}

.event-title {
  font-size: 18px;
  font-weight: 700 !important;
  white-space: nowrap !important;
  overflow: initial !important;
  margin: 0;
  margin-top: 15px;
  text-align: left;
}

.event-date {
  font-size: 14px;
  font-weight: bold;
}

.event-date-col {
  justify-content: flex-end !important;
  padding: 0;
  padding-right: 5px;
}

.ticket-name {
  font-size: 18px !important;
  padding-top: 0px;
  color: #737373 !important;
}

.lot-name {
  color: #737373 !important;
  font-size: 14px;
  margin-bottom: 0;
}

.lot-price {
  color: #737373 !important;
  margin: 0 0 4px;
  font-size: 12px;
}

.text-default {
  color: #737373 !important;
}

.cart-footer {
  position: fixed;
  bottom: 60px;
  background: #e4e0e0;
  width: 100%;
  height: 82px;
  margin: 0;
  transition: 0.5s;
}

.cart-footer .col-price {
  background: #fff;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-footer .col-purchase {
  background: #fff;
  color: #fff;
  background-image: url("../../images/button-purchase.png");
  background-size: contain;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 22px !important;
  font-weight: 700 !important;
}

.cart-footer .col-price h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #737373 !important;
}
.cart-footer .col-price h5 {
  margin-top: 0;
  font-size: 26px;
  margin-bottom: 0;
  text-align: center;
}

.height-0{
  height: 0px;
}
