.minus,
.plus{
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 50%;
}

.minus:focus,
.plus:focus{
    outline: none;
}

.minus:active,
.plus:active{
    margin-top: 1px;
}

.qtd{
    width: 45px;
    height: 30px;
    float: left;
    border-radius: 0px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 24px;
    font-weight: 700;
    color: #737373 !important;
    padding: 0;
}

.qtd:focus{
    box-shadow: none;
}

.space-button{
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 0;
    float: left;
}