.cart .container-fluid{
  padding: 0px;
  padding-top: 15px;
}
.col-price h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #737373 !important;
}

.col-price h5 {
  margin-top: 0;
  font-size: 26px;
  margin-bottom: 0;
  text-align: center;
}

.cart .box-default .col-image > img {
  border-radius: 5px 5px 0px 0px;
}

.event-name {
  color: #737373;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.box-price{
  margin-top: 37px !important;
  margin: 15px;
  padding: 15px;
  padding-bottom: 0px;
}

.box-price .box-default{
  border-radius: 5px;
}

.box-default{
  /* border-radius: 0; */
}