.tabbar{
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #fff;
    background-color: #f4f4f4!important;
    margin: 0;
    height: 60px;
    z-index: 9999;
    box-shadow: 0 -1px 15px 1px #b3b0b0;
}

.tabbar .col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.menu-item{
    color: #7f7f7f!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}

.menu-item i{
    font-size: 18px;
    margin-bottom: 5px;
}