.box-ticket {
    background-image: url(../../images/ticket03.png);
    background-repeat: no-repeat;
    /* background-size: 50px 140px; */
    background-size: 100% 140px;
    /* box-shadow: 3px 3px 5px 2px rgba(50,50,50,.3); */
    background-position-x: 1px;
}

.box-vertical {
    transform: rotate(270deg);
    width: 160px;
    position: relative;
    float: left;
    top: 50px;
    left: -15px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.box-vertical h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.box-vertical h4{
    color: #fff;
    font-size: 16px;
}

.box-vertical .ticket-type small{
    color: #000;
    font-weight: bold;
}

.box-ticket .box-text {
    height: 140px;
    margin-left: 120px;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff!important;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 10px;
}

.box-ticket .box-text p{
    font-size: 12px;
}

.box-text .box-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text .box-button button{
    padding: 5px;
    margin: 0;
    margin-right: 5px;
    background-color: rgba(230, 45, 85, 0.85);
    border-color: transparent;
}
.box-text form > button{
    padding: 5px;
    margin: 0;
    margin-right: 5px;
    background-color: rgba(230, 45, 85, 0.85);
    border-color: transparent;
}

.box-text .box-button .btn-primary:not(:disabled):not(.disabled):active{
    background-color: rgba(230, 45, 85, 1);
    border-color: transparent;
}

.box-text .box-button .btn:focus{
    outline: none;
    box-shadow: none;
}

.ticket-user-name{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: auto;
    height: 15px;
    left: -10px;
    position: relative;
}

hr{
    margin-top: 0;
}

.installments-warning{
    color: #737373;
    text-align: center;
    font-size: 14px;
    margin-top: 0.5em;
    font-weight: 400;
}

.total-interest{
    margin-top: 0.5em;
    text-align: center;
    font-size: 18px;
    color: #737373;
}

.sa-button-container{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sweet-alert .sa-confirm-button-container{
    margin-right: 5px;
}