.navbar{
    text-align: center;
    display: flex;
    align-items: center;
    height: 40px;
    background: #007bff;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    margin-right: 0;
    width: 90%;
    position: fixed;
}

.navbar i{
    float: left;
}

.navbar a,
.navbar a:hover{
    color: #fff;
    width: 50px;
    height: 30px;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar .fa-shopping-cart{
    font-size: 30px;
}

.navbar .badge{
    border-radius: 50%;
    z-index: 9999;
    position: relative;
    margin-left: -5px;
    margin-top: -20px;
    background-color: #ef473a;
}