.borda {
  border: thin solid black;
}

#root {
    padding-bottom: 70px;
}

.topheader {
  background-color: #174c80;
}
.navbar {
  background-color: #174c80;
}
.navbar-item {
  color: #fff;
}
.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}

.has-top{
  margin-top: 37px!important;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.container-fluid {
  min-height: 100vh;
  padding-top: 15px;
}

.no-margin{
    margin: 0;
}
.align-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.no-padding-left {
  padding-left: 0;
}

.container-fluid .card {
  border: none;
  box-shadow: 3px 3px 5px 2px rgba(50, 50, 50, 0.3) !important;
  margin-bottom: 10px;
}

.card-body {
  padding-top: 5px;
}

.card-title {
  margin-bottom: 0;
  font-size: 14pt;
  color: #2b2b2b;
}

.card-date {
  margin: 0;
  color: #7f7f7f;
  font-size: 14px;
}

.card-place,
.event-place {
  margin: 0;
  color: #000;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
}

.event-title {
    font-size: 18px;
    font-weight: 700 !important;
    white-space: nowrap !important;
    overflow: initial !important;
    margin: 0;
    text-align: left;
}
.padding-15{
  padding: 15px!important;
}
.mb-1{
  margin-bottom: 0.25em!important;
}

.mb-2{
  margin-bottom: 0.5em!important;
}

.mb-3{
  margin-bottom: 1em!important;
}

.mb-4{
  margin-bottom: 1.5em!important;
}

.mb-5{
  margin-bottom: 3em!important;
}

.mt-1{
  margin-top: 0.25em!important;
}

.mt-2{
  margin-top: 0.5em!important;
}

.mt-3{
  margin-top: 1em!important;
}

.mt-4{
  margin-top: 1.5em!important;
}

.mt-5{
  margin-top: 3em!important;
}

.sweet-alert .sa-confirm-button-container{
  width: 100%;
}

.sweet-alert button{
  background-color: #007bff!important;
  width: 100%;
  margin: 5px!important;
}

.sweet-alert h2{
  margin: 0!important;
}
