.row-profile {
  /* box-shadow: 3px 3px 5px 2px rgba(50, 50, 50, 0.3); */
  background: #fff;
  margin-bottom: 30px;
  color: #333;
  border-top: thin solid #e5e5e5;
  border-bottom: thin solid #e5e5e5;
  margin-left: 0;
}

.row-profile .item {
  padding: 25px 0;
}

.row-profile .item h5 {
  margin-bottom: 0;
}

.row-profile .item h6 {
  color: #cdcdcd;
  font-size: 12px;
}

.row-profile .avatar {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 28px;
}

.row-profile .avatar i {
  background-color: #C71585;
  color: #fff;
  padding: 5px 0px 0px 3px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.row-profile .chevron ,
.row-menu .chevron {
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu-box {
  background: #fff;
  margin-bottom: 30px;
  /* box-shadow: 3px 3px 5px 2px rgba(50, 50, 50, 0.3); */
  border-top: thin solid #e5e5e5;
  border-bottom: thin solid #e5e5e5;
}

.row-menu {
  color: #333;
  margin: 0;
}

.row-menu .item .title{
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.row-menu .item:nth-child(2),
.row-menu .item:nth-child(3) {
    border-bottom: thin solid #e5e5e5;
    display: flex;
    align-items: center;
}

.no-border{
    border: none!important;
}

.row-menu .item {
  padding: 10px 0;
}

.row-menu .avatar {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 22px;
}

.row-menu .avatar i {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
